<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>学生信息管理系统</title>
	<link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap-fileinput/css/fileinput.css">
	<style type="text/css">
		html,body {
			height: 100%;
			width: 100%;
			overflow: hidden;
		}
		
		h1,h2,h3,h4,h5,h6,a {
			font-family: Arial, sans-serif;
		}
		
		.starlight {
			width: 100%;
			height: 100%;
			position: relative;
			padding: 0;
			margin: 0;
		}
		
		.wrapper {
			background: url('img/in.png');
			background-size: cover;
			background-position: center;
			
			display: flex;
			justify-content: center;
			height: auto;
			align-items: center;
			flex-direction: column;
			height: 100%;
		}
		
		.title {
			color: white;
			font-size: 4em;
			margin: 0;
			padding: 0;
		}
		
		.subtitle {
			color: hsla(0, 0%, 100%, 0.3);
			font-size: 2em;
			margin: 0;
			padding: 0;
		}
	</style>
</head>

<body id>
	<!--首页-->
	<div id="FrontPage" style="height: 100%;">
		<div class="wrapper">
			<h1 class="title">欢迎使用学生信息管理系统 </h1>
			<h2 class="subtitle">Powered by SAU college of computer in 2020</h2>
			<h2 style="color:#fff;">鼠标点击进入</h2>
		</div>
	</div>

	<div id="top_bottoms" style="height: 6%;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">学生信息管理系统</a>
			</div>
			<!-- 按钮：退出 
			<a v-on:click="exit()" class="btn btn-danger navbar-right" href="#"><span class="glyphicon glyphicon-log-in"></span> 退出</a> 
			-->
		</div>
	</div>
	<div id="body" class="container-fluid rounded border" style="height: 93%;">
		<div class="row" style="height: 100%;">

			<!--MENU-->
			<div id="menu_body" class="col-2 bg-white container-fluid rounded border">
				<ul class="nav nav-pills flex-column" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="pill" href="#PersonInformation">
							学生总体信息
						</a>
					</li>
					<!--应该是这里加添加按钮-->
					<!--数据库不知道应该在哪写-->
					<!--
					<li class="nav-item"><a class="nav-link" data-toggle="pill" href="#PartyInformation">党建信息</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="pill"
							href="#ConstructionInformation">基建项目管理</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="pill" href="#EquipmentsInformation">设施设备材料</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="pill" href="#AlleviationsInformation">扶贫工作</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="pill" href="#DogsInformation">其他材料</a></li>
					-->
				</ul>
			</div>
			<!--Main display?-->
			<div id="main_body" class="col bg-light container-fluid rounded border" style="height: 100%;">
				<div id="main_alert_display" style="position: fixed; left: 50%; z-index:999;"></div>
				<!--页面-->
				<div id="info_displayer" class="tab-content" style="height: 100%;">

					<!--页面 班级信息-->
					<div id="PersonInformation" class="container-fluid tab-pane active" style="height: 100%;">

						<div class="row bg-white" style="height: 100%;">
							<!--这里是导航树-->
							<ul id="groups" class="col-2 border rounded"
								style="height: 100%;overflow: auto;list-style: none;">
								
								<li class="btn-group border rounded " style="width: 100%;">
									
									<!--新建班级按钮-->
									<button type="button" v-on:click="Botton_Refrash_input_groupname()"
										class="btn btn-info border rounded btn-sm" data-toggle="modal"
										data-target="#newgroupmodal">新建班级
									</button>
									
									<div class="modal fade" id="newgroupmodal">
										<div class="modal-dialog  modal-lg">
											<div class="modal-content">

												<!-- 模态框头部 -->
												<div class="modal-header">
													<h4 class="modal-title">添加新班级</h4>
													<button type="button" class="close"
														data-dismiss="modal">&times;
													</button>
												</div>
												
												<!-- 模态框主体 -->
												<div class="modal-body">
													<div class="container">
														<!--input-group mb-3表示向表单输入框中添加更多的样式-->
														<div class="input-group mb-3" style="width:250px;">
															<div class="input-group-prepend">
																<span class="input-group-text">新建班级号</span>
															</div>
															<input v-model="input_groupname.groupname" type="text"
																class="form-control" placeholder="班号">
														</div>
													</div>
												</div>
												
												<!-- 模态框底部 -->
												<div class="modal-footer">
													<button type="button" v-on:click="Botton_ADD_Group()"
														class="btn btn-secondary">新建</button>
												</div>
												
												<div id="bottonaddgpalerts"></div>
											</div>
										</div>
									</div>
									
									<!--新建学生按钮-->
									<button id="newhouseholdbotton" type="button"
										class="btn btn-info border rounded btn-sm"
										v-on:click="Botton_Refrash_input_message()" data-toggle="modal">新建学生
									</button>
									
									<div class="modal fade" id="newhouseholdmodal">
										<div class="modal-dialog  modal-lg">
											<div class="modal-content">

												<!-- 模态框头部 -->
												<div class="modal-header">
													<h4 class="modal-title">添加新学生</h4>
													<button type="button" class="close"
														data-dismiss="modal">&times;
													</button>
												</div>

												<!-- 模态框主体 -->
												<div class="modal-body">
													<div class="container">
														<form class="form-group">
															<!--学生基本信息-->
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text">学生基本信息</span>
																</div>
																<input v-model="input_message.name_s" type="text"
																	class="form-control" placeholder="姓名">
																<input v-model="input_message.id_s" type="text"
																	class="form-control" placeholder="学号"
																	style="width: 150px;">
																<input v-model="input_message.sex_s" type="text"
																	class="form-control" placeholder="性别"
																	style="width: 20px;">
																<input v-model="input_message.birthday_s" type="text"
																	class="form-control" placeholder="出生年月">
																<input v-model="input_message.race_s" type="text"
																	class="form-control" placeholder="民族"><br>
															</div>
															<!--学生详细信息-->
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text">学生详细信息</span>
																</div>
																<input v-model="input_message.political_s" type="text"
																	class="form-control" placeholder="政治面貌">
																<input v-model="input_message.QQ_s" type="text"
																	class="form-control" placeholder="QQ"
																	style="width: 20px;">
																<input v-model="input_message.wechat_s" type="text"
																	class="form-control" placeholder="微信"
																	style="width:20px">
																<input v-model="input_message.phone_s" type="text"
																	class="form-control" placeholder="联系电话"
																	style="width: 50px;">
															</div>
															<!--学生详细信息补充-->
															<div class="input-group mb-3">
																<input v-model="input_message.grade_s" type="text"
																	class="form-control" placeholder="班级"
																	style="width: 20px;">
																<input v-model="input_message.specialty_s" type="text"
																	class="form-control" placeholder="专业"
																	style="width: 50px;">
																<input v-model="input_message.home_s" type="text"
																	class="form-control" placeholder="家庭住址"
																	style="width: 120px;">
																<input v-model="input_message.idcard_s" type="text"
																	class="form-control" placeholder="身份证号">
															</div>
															<!--以下是原来的东西，这里想把原来的换成新的，所以集体注释掉，
															可以从这里面摘取有用的-->
															<!--
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text">家庭信息</span>
																</div>
																<textarea v-model="input_message.income"
																	class="form-control" rows="7"
																	placeholder="年均收入及来源"></textarea>
																<textarea v-model="input_message.fielding"
																	class="form-control" rows="7"
																	placeholder="耕地面积"></textarea>
																<textarea v-model="input_message.breeding"
																	class="form-control" rows="7"
																	placeholder="养殖情况"></textarea>
																<textarea v-model="input_message.causeofpoverty"
																	class="form-control" rows="7"
																	placeholder="致贫原因"></textarea>
																<textarea v-model="input_message.remark"
																	class="form-control" rows="7"
																	placeholder="备注"></textarea>
															</div>
															-->
															
															<!--家长1的个人信息-->
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text">家长1的个人信息</span>
																</div>
																<input v-model="input_message.name_1" type="text"
																	class="form-control" placeholder="姓名">
																<input v-model="input_message.relationship_1" type="text"
																	class="form-control" placeholder="与学生关系"
																	style="width: 20px;">
																<input v-model="input_message.wechat_1" type="text"
																	class="form-control" placeholder="微信"
																	style="width:20px">
																<input v-model="input_message.phone_1" type="text"
																	class="form-control" placeholder="联系电话"
																	style="width: 50px;">
															</div>
															
															<!--家长2的个人信息-->
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text">家长2的个人信息</span>
																</div>
																<input v-model="input_message.name_2" type="text"
																	class="form-control" placeholder="姓名">
																<input v-model="input_message.relationship_2" type="text"
																	class="form-control" placeholder="与学生关系"
																	style="width: 20px;">
																<input v-model="input_message.wechat_2" type="text"
																	class="form-control" placeholder="微信"
																	style="width:20px">
																<input v-model="input_message.phone_2" type="text"
																	class="form-control" placeholder="联系电话"
																	style="width: 50px;">
															</div>
														</form>
														
														<!--家庭总人数，目前没需要，先注释掉-->
														<!--
														<form class="form-group">
															<div class="input-group mb-3" style="width:225px;">
																<div class="input-group-prepend">
																	<span class="input-group-text">家庭总人口</span>
																</div>
																<input v-model="input_message.familynum" type="text"
																	class="form-control" placeholder="人数">
															</div>
														</form>
														-->
														<!--属于班级-->
														<form class="form-group">
															<div class="input-group mb-3" style="width:210px;">
																
																<div class="input-group-prepend">
																	<span id="householdcreate_groupnuminput"
																		class="input-group-text">属于班级</span>
																</div>
																
																<select class="form-control"
																	v-model="input_message.groupnum">
																	<option v-for="(group, groupnum, index) in Persons">
																		{{Groups2['g'+groupnum]}}</option>
																</select>
																
															</div>
															
														</form>
														
													</div>
												</div>
												<!--模态框主体止-->
												<!-- 模态框底部 -->
												<div class="modal-footer">
													<button id="bottonaddhd" type="button"
														v-on:click="Botton_ADD_Household()"
														class="btn btn-secondary">添加</button>
												</div>
												<!--这里等以后维护吧，目前没什么需要-->
												<div id="bottonaddhdalerts">
													
												</div>
											</div>
										</div>
									</div>
									<!--这里是查找学生-->
									<button type="button" class="btn btn-info border rounded btn-sm"
										v-on:click="Botton_Open_Find_People()" data-toggle="modal">查找学生</button>
									<div class="modal fade" id="findpeoplemodal">
										<div class="modal-dialog  modal-lg">
											<div class="modal-content">

												<!-- 模态框头部 -->
												<div class="modal-header">
													<h4 class="modal-title">查找学生</h4>
													<!--&times是乘号-->
													<button type="button" class="close"
														data-dismiss="modal">&times;
													</button>
												</div>
												<!-- 模态框身体 -->
												<div class="modal-body">
													<div class="container form-inline">
														<div class="input-group mb-3" style="width:170px;">
															<div class="input-group-prepend">
																<span class="input-group-text">查找</span>
															</div>
															<select class="form-control"v-model="find_people_input.key">
																<option v-for="(key,index) in find_people_keys">
																	{{key}}
																</option>
															</select>
														</div>
														<div class="input-group mb-3" style="width:350px;">
															<input v-model="find_people_input.value" type="text"
																class="form-control" placeholder="">
														</div>
													</div>
												</div>
												<!-- 模态框底部 -->
												<div class="modal-footer">
													<button type="button" v-on:click="Botton_Begin_Find_People()"
														class="btn btn-secondary">查找</button>
												</div>
												<div id="bottonfindpeoalerts"></div>
											</div>
										</div>
									</div>
								</li>
								<!---->
								<li v-for="(group, groupnum, index) in Persons" class="">
									<div class="btn-group rounded border" style="width: 100%;">
										<button v-bind:href="'#group'+groupnum" data-toggle="collapse"
											class="btn btn-sm container-fluid btn-warning"
											v-bind:style="Groupcolor(groupnum)">{{Groups2['g'+groupnum]}}</button>
										<button class="btn btn-sm btn-warning" v-on:click="Botton_DEL_Group(groupnum)"
											v-bind:style="Groupcolor(groupnum)">x</button>
									</div>
									<ul v-bind:id="'group'+groupnum" class="collapse  rounded border border-warning"
										style="list-style: none;">
										<li v-for="household in group">
											<button class="btn btn-sm btn-light rounded border container-fluid"
												v-on:click="Botton_Change_Print(household)">{{household.name}}</button>
										</li>
									</ul>
								</li>

							</ul>

							<!--信息面板-->
							<div id="housholdinfodisplay" class="bg-light col" style="height: 100%;overflow: auto;">
								<div class="col rounded border bg-white" style="height: 22%;">
									<div class="row" style="height: 100%;">
										<div class="col-10 border" style="height: 100%;">
											<div class="row  border" style="height: 34%;">
												<div class="col border"><strong>姓名</strong></div>
												<div class="col border">{{print_message.name_s}}</div>
												<div class="col border"><strong>性别</strong></div>
												<div class="col border">{{print_message.sex_s}}</div>
												<div class="col border"><strong>出生年月</strong></div>
												<div class="col border">{{print_message.birthday_s}}</div>
												<div class="col border"><strong>民族</strong></div>
												<div class="col border">{{print_message.race_s}}</div>
											</div>
											<div class="row border" style="height: 33%;">
												<div class="col border"><strong>政治面貌</strong></div>
												<div class="col border">{{print_message.political_s}}</div>
												<div class="col border"><strong>QQ</strong></div>
												<div class="col border">{{print_message.QQ_s}}</div>
												<div class="col border"><strong>微信</strong></div>
												<div class="col border">{{print_message.wechat_s}}</div>
											</div>
											<div class="row  border" style="height: 33%;">
												<div class="col border"><strong>身份证号</strong></div>
												<div class="col border">{{print_message.idcard_s}}</div>
												<div class="col border"><strong>联系电话</strong></div>
												<div class="col border">{{print_message.phone_s}}</div>
											</div>
										</div>
										<!--照片询问一下要求要不要留-->
										<div class="col rounded border" style="height: 100%;">
											<div class="row" style="height: 100%;">
												<div class="col rounded border" style="height: 100%;padding:0px;">
													<img :src="'.\\照片\\'+print_message.photo" class="img-thumbnail img-responsive">
												</div>
												<div class="col-3 rounded border" style="height: 100%;">
													<div class="row btn-group-vertical" style="height: 100%;">
														<button type="button"
															v-on:click="Botton_Re_Photo()"
															class="btn btn-outline-info btn-sm"
															style="font-size:10px;line-height: 12px;">更换照片</button>

														<div class="modal fade" id="rehouseholdphotomodal">
															<div class="modal-dialog  modal-lg">
																<div class="modal-content">

																	<!-- 模态框头部 -->
																	<div class="modal-header">
																		<h4 class="modal-title">更换照片</h4>
																		<button type="button" class="close"
																			data-dismiss="modal">&times;</button>
																	</div>

																	<!-- 模态框主体 -->
																	<div class="modal-body">
																		<div class="input-group mb-3">请将照片放在'照片'文件夹下</div>
																		<div class="input-group mb-3">
																			<div class="input-group-prepend">
																			<span
																				class="input-group-text">. /照片/</span>
																			</div>

																			<input v-model="input_message.photo"
																				type="text" class="form-control">
						
																		</div>
																	</div>

																	<!-- 模态框底部 -->
																	<div class="modal-footer">
																		<button type="button"
																			v-on:click="Botton_Cg_Photo()"
																			class="btn btn-secondary">修改</button>
																	</div>
																	<div id="bottonrehdphalerts"></div>
																</div>
															</div>
														</div>
														
														<!--修改信息，直接从上边照搬吧-->
														<button type="button" v-on:click="Botton_Re_Household()"
															class="btn btn-outline-info btn-sm"
															style="font-size:10px;line-height: 12px;">修改信息</button>
														<div class="modal fade" id="rehouseholdmodal">
															<div class="modal-dialog  modal-lg">
																<div class="modal-content">
																	<!-- 模态框头部 -->
																	<div class="modal-header">
																		<h4 class="modal-title">修改学生信息</h4>
																		<button type="button" class="close"
																			data-dismiss="modal">&times;</button>
																	</div>

																	<!-- 模态框主体 -->
																	<div class="modal-body">
																		<div class="container">
																			<!--基本信息表单-->
																			<form class="form-group">
																				<div class="input-group mb-3">
																					<div class="input-group-prepend">
																						<span class="input-group-text">学生基本信息</span>
																					</div>
																					<input v-model="input_message.name_s" type="text"
																						class="form-control" placeholder="姓名">
																					<input v-model="input_message.id_s" type="text"
																						class="form-control" placeholder="学号"
																						style="width: 150px;">
																					<input v-model="input_message.sex_s" type="text"
																						class="form-control" placeholder="性别"
																						style="width: 20px;">
																					<input v-model="input_message.birthday_s" type="text"
																						class="form-control" placeholder="出生年月">
																					<input v-model="input_message.race_s" type="text"
																						class="form-control" placeholder="民族"><br>
																				</div>
																				<!--学生详细信息-->
																				<div class="input-group mb-3">
																					<div class="input-group-prepend">
																						<span class="input-group-text">学生详细信息</span>
																					</div>
																					<input v-model="input_message.political_s" type="text"
																						class="form-control" placeholder="政治面貌">
																					<input v-model="input_message.QQ_s" type="text"
																						class="form-control" placeholder="QQ"
																						style="width: 20px;">
																					<input v-model="input_message.wechat_s" type="text"
																						class="form-control" placeholder="微信"
																						style="width:20px">
																					<input v-model="input_message.phone_s" type="text"
																						class="form-control" placeholder="联系电话"
																						style="width: 50px;">
																				</div>
																				<!--学生详细信息补充-->
																				<div class="input-group mb-3">
																					<input v-model="input_message.grade_s" type="text"
																						class="form-control" placeholder="班级"
																						style="width: 20px;">
																					<input v-model="input_message.specialty_s" type="text"
																						class="form-control" placeholder="专业"
																						style="width: 50px;">
																					<input v-model="input_message.home_s" type="text"
																						class="form-control" placeholder="家庭住址"
																						style="width: 120px;">
																					<input v-model="input_message.idcard_s" type="text"
																						class="form-control" placeholder="身份证号">
																				</div>
																			</form>
																			<!--修改班级-->
																			<form class="form-group">
																				<div class="input-group mb-3"
																					style="width:210px;">
																					<div class="input-group-prepend">
																						<span
																							class="input-group-text">属于班级</span>
																					</div>
																					<select class="form-control"
																						v-model="input_message.groupnum">
																						<option
																							v-for="(group, groupnum, index) in Persons">
																							{{Groups2['g'+groupnum]}}
																						</option>
																					</select>
																				</div>
																			</form>
																		</div>
																	</div>
																	<!-- 模态框底部 -->
																	<div class="modal-footer">
																		<button type="button"
																			v-on:click="Botton_Cg_Household()"
																			class="btn btn-secondary">修改</button>
																	</div>
																	<div id="bottonrehdalerts"></div>
																</div>
															</div>
														</div>
														
														
														<button type="button"
															v-on:click="Botton_Isdelete()"
															class="btn btn-outline-info btn-sm"
															style="font-size:10px;line-height: 12px;">删除该户</button>
														<div class="modal fade" id="delhouseholdmodal">
															<div class="modal-dialog  modal-lg">
																<div class="modal-content">

																	<!-- 模态框头部 -->
																	<div class="modal-header">
																		<h4 class="modal-title">确认删除该户？</h4>
																		<button type="button" class="close"
																			data-dismiss="modal">&times;</button>
																	</div>

																	<!-- 模态框主体 -->
																	<div class="modal-body">
																		<div class="container">
																			
																		</div>
																	</div>

																	<!-- 模态框底部 -->
																	<div class="modal-footer">
																		<button type="button"
																			v-on:click="Botton_DEL_Household(print_message.ownerid)"
																			class="btn btn-secondary">删除</button>
																	</div>
																	
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!--这里是家长信息-->
								<div class="col rounded border bg-white" style="height: 22%;">
									<!--家长1的信息-->
									<div class="row  border" style="height: 25%;">
										<div class="col border"><strong>1号家长的姓名</strong></div>
										<div class="col border">{{print_message.name_1}}</div>
										<div class="col border"><strong>1号家长与学生关系</strong></div>
										<div class="col border">{{print_message.relationship_1}}</div>
									</div>
									<div class="row  border" style="height: 25%;">
										<div class="col border"><strong>1号家长的微信</strong></div>
										<div class="col border">{{print_message.wechat_1}}</div>
										<div class="col border"><strong>1号家长的联系电话</strong></div>
										<div class="col border">{{print_message.phone_1}}</div>
									</div>
									<!--家长2的信息-->
									<div class="row  border" style="height: 25%;">
										<div class="col border"><strong>2号家长的姓名</strong></div>
										<div class="col border">{{print_message.name_2}}</div>
										<div class="col border"><strong>2号家长与学生关系</strong></div>
										<div class="col border">{{print_message.relationship_2}}</div>
									</div>
									<div class="row  border" style="height: 25%;">
										<div class="col border"><strong>2号家长的微信</strong></div>
										<div class="col border">{{print_message.wechat_2}}</div>
										<div class="col border"><strong>2号家长的联系电话</strong></div>
										<div class="col border">{{print_message.phone_2}}</div>
									</div>
								</div>
								<!--这里想插入一个照片，大小一直不对-->
								<!--
								<div class="imgback" style="height: 56%">
									<img src="./照片/mybackground.png">
								</div>
								-->
							</div>
						</div>
					</div>
					
					<!--页面 党建信息-->
					<!--已删除，想还原请到recycle bin_1-->
					
					<!--页面 建设信息-->
					<!--已删除，想还原请到recycle bin_2-->
					
					<!--页面 登记设备-->
					<!--已删除，想还原请到recycle bin_3-->
					
					<!--页面 登记扶贫记录-->
					<!--已删除，想还原请到recycle bin_4-->
					
					<!--页面 登记雪橇犬-->
					<!--已删除，想还原请到recycle bin_5-->
					
				</div>
			</div>
		</div>
	</div>
	<script src="./bootstrap-fileinput/js/fileinput.js" type="text/javascript" charset="utf-8"></script>
	<script src="./vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/index_funs.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/index_vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="./bootstrap-4.3.1-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/starlight.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$('#housholdinfodisplay').hide();
		$('#body').hide();
		$('#top_bottoms').hide();
		$('#FrontPage').click(() => {
			console.log('点击首页');
			$('#body').show();
			$('#top_bottoms').show();
			$('#FrontPage').slideUp('slow');
		});
	</script>
</body>

</html>